<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>NSCameraUsageDescription</key>
	<string>Sparrow uses the camera to take your profile picture.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Sparrow uses your photo library to choose your profile picture.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Sparrow uses your location only when you choose to share your current location.</string>
</dict>
</plist>